* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: "Pluto TV Sans", Verdana, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background-color: #000000;
  color: #fff;
}

