::-webkit-scrollbar-track {
  border: 0;
  background: #121212;
}

::-webkit-scrollbar {
  border: 0.3rem solid #121212;
  background: #616161;
  border-radius: 6.25rem;
}

::-webkit-scrollbar-thumb {
  border: 0.3rem solid #121212;
  background: #616161;
  border-radius: 6.25rem;
}
